@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&family=League+Spartan:wght@100;200;400;500&display=swap');

:root {
    --ff-fredoka: 'Fredoka One', cursive;
    --ff-league: 'League Spartan', sans-serif;

    --fs-72: 4.5rem;
    --fs-48: 3rem;
    --fs-40: 2.5rem;
    --fs-32: 2rem;
    --fs-24: 1.5rem;
    --fs-16: 1rem;

    --clr-main-color: #C27933;
    --clr-secondary-color: white;
    --clr-background: #6B5237;
}

* {
    box-sizing: border-box;
    font: inherit;
    color: inherit;
}

body {
    margin: 0;
    padding: 0;
}

footer {
    width: 100%;
    background-color: var(--clr-main-color);
}

.footer-content {
    padding: 2em;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2em;
    margin: 0 auto;
    max-width: 1200px;
}

footer .column-one {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 2em;
    border: 1px solid var(--clr-secondary-color);
    padding: .5em
}

 footer img {
     width: 15%;
     min-width: 80px;
     margin-bottom: 1em;
 }

 footer .footer-p {
     margin-bottom: .5em;
     font-family: var(--ff-league);
     font-size: var(--fs-16);
     color: var(--clr-secondary-color);
 }

 .footer-newsletter {
     align-items: center;
     justify-content: space-between;
     display: flex;
     gap: 1px;
 }

 .newsletter-input {
    padding: 10px 15px;
    border: 1px solid var(--clr-main-color);
    height: 2.1em;
    width: 70%;
 }

 .submit-letter {
    width: 30%;
 }

 .newsletter-input::placeholder {
    color: var(--clr-main-color);
    font-family: var(--ff-league);
    font-size: var(--fs-16);
 }

 .newsletter-input:focus {
    outline: 0;
    color: var(--clr-main-color);
 }

 footer button {
     border: 1px solid var(--clr-secondary-color);
     font-size: var(--fs-16);
     color: var(--clr-secondary-color);
     background: transparent;
     height: 2em;
     font-family: var(--ff-league);
 }

 /* Column two footer */

 footer .column-two-footer {
     margin-top: 0;
     color: var(--clr-secondary-color);
     text-transform: uppercase;
     font-family: var(--ff-league);
     font-weight: 500;
     font-size: var(--fs-24);
 }

 footer .footer-links-container {
     display: flex;
     flex-direction: column;
     gap: .75em;
     color: var(--clr-secondary-color);
     font-family: var(--ff-league);
     font-weight: 100;
     font-size: var(--fs-16);
}

footer .footer-links-container a {
    text-decoration: none;
    color: white;
    font-weight: 400;
}

footer .footer-links-container a:hover,
footer .footer-links-container a:focus {

    color: var(--clr-background);

}

footer i {
    color: var(--clr-secondary-color);
    font-size: var(--fs-32);
}

footer .footer-links-socials {
    display: flex;
    gap: 1em;
}

/* ----------------------------------- */
/*            MEDIA QUERIES            */
/* ----------------------------------- */
@media (max-width: 768px) {
    .footer-content {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 480px) {
    .footer-content {
        grid-template-columns: repeat(1, 1fr);
    }
}