@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&family=League+Spartan:wght@100;200;400;500&display=swap');

:root {
    --ff-fredoka: 'Fredoka One', cursive;
    --ff-league: 'League Spartan', sans-serif;

    --fs-72: 4.5rem;
    --fs-48: 3rem;
    --fs-40: 2.5rem;
    --fs-32: 2rem;
    --fs-24: 1.5rem;
    --fs-16: 1rem;

    --clr-main-color: #C27933;
    --clr-secondary-color: white;
    --clr-background: #6B5237;
}

* {
    box-sizing: border-box;
    font: inherit;
    color: inherit;
}

body {
    margin: 0;
    padding: 0;
}


header {
    width: 100%;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
}

.navigation-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    max-width: 1200px;
    margin-inline: auto;
    gap: 5vw;
    padding: .5em 1em;
}

.main-logo-picture {
    width: 8vw;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1em;
}

nav a {
    text-decoration: none;
    color: var(--clr-main-color);
    font-size: clamp(1rem, 1.5vw, 1.2rem);
    font-family: var(--ff-league);
    padding-block: var(--fs-16);
    border: 1px solid transparent;
}

nav a:hover,
nav a:focus {
    border-bottom: 1px solid var(--clr-main-color);
    color: var(--clr-main-color);
}

.nav-session a {
    text-decoration: none;
    color: var(--clr-main-color);
}

.nav-session a:hover,
.nav-session a:focus {
    color: var(--clr-background);
}

.nav-item a {
    color: var(--clr-main-color);
}

.nav-item a:hover,
.nav-item a:focus {
    color: var(--clr-background);
}
/* Continue */
.dropdown-contact {
    display: none;
}

.bag, .user {
    width: var(--fs-16);
    fill: var(--clr-main-color);
}

.svg-container {
    display: flex;
    gap: 1em;
}

.search-bar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1em;
}

.search-bar {
    display: flex;
    height: 30px;
    gap: 1px;
}

.search-bar-input {
    padding: 10px 15px;
    border-top-left-radius: 10px; 
    border-bottom-left-radius: 10px;
    border: 1px solid var(--clr-main-color);
}

.search-bar-input::placeholder {
    color: var(--clr-main-color);
    font-family: var(--ff-league);
    font-size: var(--fs-16);
    font-weight: 500;
}

.search-bar-input:focus {
    outline: 0;
    color: var(--clr-main-color);
}

.search-bar button {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border: 1px solid var(--clr-main-color);
    background: transparent;
}

header i {
    color: var(--clr-main-color);
    font-size: 14px;
}