@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&family=League+Spartan:wght@100;200;400;500&display=swap');

:root {
    --ff-fredoka: 'Fredoka One', cursive;
    --ff-league: 'League Spartan', sans-serif;

    --fs-72: 4.5rem;
    --fs-48: 3rem;
    --fs-40: 2.5rem;
    --fs-32: 2rem;
    --fs-24: 1.5rem;
    --fs-16: 1rem;

    --clr-main-color: #C27933;
    --clr-secondary-color: white;
    --clr-dirty-white: #f6f6f6;
    --clr-background: #6B5237;
    --clr-dark-black: #1e1e1e;
    --clr-dark-grey: #3c3c3c;
}

* {
    box-sizing: border-box;
    font: inherit;
    color: inherit;
}

body {
    margin: 0;
    padding: 0;
}

/* Start Side Menu */

.admin-wrapper-content {
    display: flex;
}

.admin-side-menu {
    width: 15vw;
    min-height: 100vh;
    background: var(--clr-main-color);
    margin: .5em;
    display: flex;
    flex-direction: column;
}

.admin-side-menu-brand {
    margin-block: 2em;
    padding: 0;
    text-align: center;
}

.admin-side-menu-title {
    font-family: var(--ff-league);
    color: var(--clr-secondary-color);
    font-size: 2vw;
}

.admin-side-menu-links .child-menu h4 {
    color: white;
    font-size: 1.2vw;
    text-align: center;
}

.admin-side-menu-links .child:hover {
    color: white;
}

.admin-side-menu-links a:hover {
    color: white;
}

.admin-side-menu-links a {
    text-decoration: none;
    color: var(--clr-secondary-color);
    font-family: var(--ff-league);
    font-size: 1.2vw;
}

.admin-side-menu-links > .child {
    margin-block: .5em;
    margin-left: .5em;
    padding: .5em 1em;
    border-top-left-radius: 2em ;
    border-bottom-left-radius: 2em;
    display: flex;
    align-items: center;
    gap: 1em;
}

.admin-side-menu-links i {
    font-size: 1.3vw;
    color: white;
}

.admin-side-menu-links > .child:hover {
    background-color: #6B5237;
}

.admin-main-content {
    /* background: var(--clr-background); */
    margin: 0 auto;
    max-width: 75vw;
    width: 100%;
    padding: .5em;
}

/* .admin-main-content .admin-page-title { */
    /* padding: 1.5em; */
    /* background-color: #6B5237; */
/* } */

.admin-main-content .admin-page-title h3 {
    color: var(--clr-main-color);
    font-size: 2vw; 
    font-family: var(--ff-league);
}

.admin-page-header {
    display: flex;
    align-items: center;
    padding: 1.5em;
    gap: 1em;
    justify-content: space-between;
}

.admin-page-greet h4 {
    color: var(--clr-main-color);
    font-size: 2vw; 
    font-family: var(--ff-league);
}

.admin-card-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2em;
}

.admin-card-container .admin-card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 1em;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
    padding: 3rem;
    margin-block: 1em;
}

.admin-card-container .admin-card .details,
.admin-card-container .admin-card .icon {
    color: var(--clr-main-color);
}

.admin-card-container .admin-card .icon {
    font-size: 2.5rem;
}

/* End of Side menu */

/* Start admin main content */

table {
    border-collapse: collapse;
    width: 100%;
}

thead tr {
    border: 1px solid #f0f0f0;
}

thead th {
    padding: 1rem;
    font-size: 1.2rem;
    font-weight: 500;
    font-family: var(--ff-league);

}

tbody tr {
    border: 1px solid #f0f0f0;
}

tbody td {
    padding: 1rem;
    border: 1px solid #f0f0f0;
}


.admin-page-table .table-container {
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);

    padding: 1.5em;

}

.table-button-add {
    margin-block: 2rem;
}

.table-container-add-new {
    text-decoration: none;
    color: var(--clr-secondary-color);
    background: var(--clr-main-color);
    font-size: 1rem;
    font-family: var(--ff-league);
    padding: 1rem 1.5rem;
}

.table-edit-delete {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .5em;
}

.table-container-add-new:hover,
.table-container-add-new:active {
    color: #f6f6f6;
}

.admin-page-table .card-header {
    padding: 1rem;
}

.admin-page-table .card-header h3 {
    font-family: var(--ff-league);
    color: var(--clr-background);
}


/* End admin main content */

/* Main content */
/* Homepage */
#container {
    display: grid;
    grid-template-rows: (auto, 1fr, auto);
    height: 100vh;

    /* take note of centering this item */
    /* max-width: 1200px;
    margin: 0 auto; */
}

.menu {
    max-width: 1200px;
    margin: 0 auto;
}


img {
    width: 100%;
    background-size: cover;
    object-fit: cover;    
}

.card-pictures {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    place-items: center;
    justify-content: space-between;
    width: 100%;
    padding-block: 3em;
    gap: 1em;
}

.card-pictures-container img {
    width: 250px;
    height: 350px;
    border-radius: 15px;
}

/* Menu */

.menu {
    gap: 1em;
}

.main-container {
    margin-block: 2em;
}

.menu-about {
    width: 60%;
    margin: 0 auto;
}

.menu .title {
    font-family: var(--ff-fredoka);
    color: var(--clr-main-color);
    font-size: var(--fs-48);
    text-align: center;
    letter-spacing: .5rem;
}

.menu a {
    text-decoration: none;
    padding-block: var(--fs-16);
}

.menu a:hover,
.menu a:focus {
    border-bottom: 1px solid var(--clr-main-color);
    color: var(--clr-main-color);
}

.category-links {
    display: flex;
    justify-content: space-evenly;
    color: var(--clr-main-color);
}

.category-links a {
    color: var(--clr-main-color);
}

.card-menu-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 1em;
}

.card-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-block: 2em;
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.1);

}

.menu h2,
.menu p {
    margin: .5rem;
}

.menu h2 {
    color: var(--clr-main-color);
    font-family: var(--ff-league);
    font-size: var(--fs-16);
    font-weight: 500;
    letter-spacing: 2px;
}

.menu p {
    color: var(--clr-main-color);
    font-family: var(--ff-league);
    font-size: .75rem;
    font-weight: 500;
    letter-spacing: 1px;
}

.menu img {
    width: 250px;
}

/* About page */

.about-container {
    margin-block: 1em;
    padding: 1em;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    justify-content: flex;
}

.about-card {
    width: 100%;
    height: 500px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: end;
    padding: 1em 10em;
}

.menu-about a {
    text-decoration: none;
    color: var(--clr-secondary-color);
    font-family: var(--ff-league);
    font-size: var(--fs-16);
    padding: .5em 1em;
    border-radius: 20px;
    border: 1px solid var(--clr-secondary-color);
    margin-bottom: 10%;
}

.about-card:nth-child(1),
.about-card:nth-child(4),
.about-card:nth-child(5),
.about-card:nth-child(8) {
    background-color: var(--clr-main-color);
}

/* Contact Page */

.main-contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1em;
    margin: 2em;
}

.contact-header {
    margin-block: 1em;
}

.contact-container {
    max-width: 800px;
    width: 100%;
    background-color: var(--clr-main-color);
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
}

.contact-input {
    width: 80%;
    margin: 0 auto;
    padding: 1rem 1rem;
    border: 2px solid rgba(0, 0, 0, 0);
    background-color: var(--clr-dirty-white);
    font-size: var(--fs-16);
    border-radius: .5em;
}

.contact-form-container > .message {
    resize: none;
}

.contact-form-container > .send {
    padding-block: .5rem;
}

.main-contact .contact-form-container {
    display: flex;
    flex-direction: column;
    padding: 3em 5em;
    gap: 1em;
}

.main-contact .contact-header {
    font-size: var(--fs-40);
    color: var(--clr-secondary-color);
    font-weight: 200;
    font-family: var(--ff-fredoka);
    text-align: center;
}

/* .main-contact .contact-form {
    border: 1px solid var(--clr-main-color);
    resize: none;
} */

.main-contact .contact-form:focus {
    outline: 0;
    color: var(--clr-main-color);
    padding: 1em;
}

.main-contact .contact-form::placeholder {
    color: var(--clr-main-color);
    font-family: var(--ff-league);
    font-size: var(--fs-16);
    font-weight: 400;
}

.contact-container .send {
    font-family: var(--ff-fredoka);
    color: var(--clr-main-color);
    background-color: var(--clr-dirty-white);
    padding-block: 1em;
    text-transform: uppercase;
    margin-top: 3em;
}

/* .main-contact .contact-form-submit {
    background: transparent;
    border: 1px solid var(--clr-main-color);
    border-top: 0;
    outline: 0;
} */

/* Sign up page */

.signup-container {
    margin: 0 auto;
    max-width: 500px;
    width: 100%;
    /* height: 80vh; remove after filling up with contents */
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1em;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
    margin-block: 2em;
    border-radius: 3%;
}

.signup-header {
    text-align: center;
    margin-block: 4em;
}

.signup-form-container {
    margin-bottom: 4em;
}

.signup-container h1,p {
    margin: 0;
    padding: 0;
}

.signup-container h1 {
    font-size: var(--fs-32);
    margin-block: 1em;
    font-family: var(--ff-fredoka);
    color: var(--clr-main-color);
}

.signup-container p {
    font-size: var(--fs-16);
    font-family: var(--ff-league);
    color: var(--clr-main-color);
}

.signup-form {
    padding-inline: 1em;
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.signup {
    display: flex;
    flex-direction: column;
    gap: .5em;
}

.signup input {
    padding: .7rem;
    border-radius: .5em;
    color: var(--clr-main-color);
    outline: 0px;
}

.signup input:focus {
    color: var(--clr-dark-black);
}

.signup-role .admin-role {
    display: flex;
    flex-direction: row; 
}

.signup-input {
    border: 1px solid var(--clr-main-color);
}

.signup-container .signup-input:focus {
    outline: 0;
    color: var(--clr-main-color);
}

.signup label {
    font-family: var(--ff-league);
    color: #C27933;
}

.signup-submit {
    margin: 3em 0em 1em;
    padding: .7em;
    border-radius: .5em;
    background-color: var(--clr-main-color);
    border: 1px solid rgba(0, 0, 0, 0);
    font-family: var(--ff-league);
    font-weight: 500;
    color: var(--clr-dirty-white);
}

.signup-role {
    display: flex;
    gap: 2em;
}

.admin-signup-card-header h3 {
    font-family: var(--ff-league);
    font-size: 2vw;
    color: #6B5237;
    margin-block: 1em;
}

.alert {
    margin: 2em;
}

/* Show or hide password style */

.password-container {
    width: 100%;
    position: relative;
}

.password-container input {
    width: 100%;
}

.fa-eye {
    position: absolute;
    top: 33%;
    right: 2%;
    color: var(--clr-dark-grey);
}

/* End Show or hide password style */

/* media for tablet 1000px */
@media (max-width: 1000px) {
    .card-pictures {
        grid-template-columns: repeat(2, 1fr);
        gap: 10em;
    }
    .card-menu-container {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
    }
}
