@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&family=League+Spartan:wght@100;200;400;500&display=swap');


:root {
    --ff-fredoka: 'Fredoka One', cursive;
    --ff-league: 'League Spartan', sans-serif;

    --fs-72: 4.5rem;
    --fs-48: 3rem;
    --fs-40: 2.5rem;
    --fs-32: 2rem;
    --fs-24: 1.5rem;
    --fs-16: 1rem;

    --clr-main-color: #C27933;
    --clr-secondary-color: white;
    --clr-dirty-white: #f6f6f6;
    --clr-background: #6B5237;
    --clr-dark-black: #1e1e1e;
    --clr-dark-grey: #3c3c3c;
}

p, h1,h2,h3,h4,h5,h6 {
    margin: 0;
    padding: 0;
}

* {
    box-sizing: border-box;
    font: inherit;
    color: inherit;
}

body {
    margin: 0;
    padding: 0;
}

#container {
    max-width: 100vw;
    display: grid;
    grid-template-rows: (auto, 1fr, auto);
    min-height: 100vh;
}

/* ---------------------------------- */
/*              Sidebar Menu          */
/* ---------------------------------- */

.admin-wrapper {
    width: 300px;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: var(--clr-main-color);
}

.admin-brand {
    display: flex;
    align-items: center;
    padding: 0 1.25rem 0 0;
    background: rgba(0, 0, 0, 0.1);
    height: 72px;
}

.admin-menu-title {
    font-family: var(--ff-league);
    color: var(--clr-secondary-color);
    font-size: 1.5rem;
    margin: 0;
    font-weight: 400;
}

.admin-wrapper .image-svg {
    display: grid;
    place-items: center;
    width: 72px;
    height: 72px;
}

.admin-wrapper .image-svg svg {
    fill: white;
    width: 25px;
    height: 25px;
}

.brand-child {
    display: flex;
    align-items: center;
    flex-shrink: 1 0 auto;
}

.brand-child.has-border {
    border-bottom: 1px solid rgba(255, 255, 255, 0.12);
}

.brand-child i {
    font-size: 1.2rem;
    color: var(--clr-secondary-color);
}

.brand-child:hover {
    color: white;
}

.admin-links > .active {
    background: rgba(0, 0, 0, 0.1);
}

.admin-links > .brand-child:hover {
    background: rgba(0, 0, 0, 0.1);

} 

.body-wrapper {
    position: relative;
    margin-left: 300px;
    transition: all 300ms ease-in-out;
}

.header-admin {
    position: fixed;
    background-color: #fff;
    height: 100px;
    top: 0;
    left: 300px;
    padding: 1em;
    margin: 0;
    width: calc(100% - 300px);
    display: flex;
    justify-content: center;
    transition: all 300ms ease-in-out;
}

body.open .header-admin {
    left: 72px;
    width: calc(100% - 72px);
    transition: all 300ms ease-in-out;

}

/* This has been declared to the admin main content style section */
.admin-main-content {
    margin-top: 100px;
    width: 100%;
}

.navigation-container-admin {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    margin: 0;
    max-width: 1200px;
    width: 100%;
}

body.open .admin-wrapper {
    width: 72px;
    transition: all 300ms ease-in-out;
}

body.open .body-wrapper {
    margin-left: 72px;
    transition: all 300ms ease-in-out;
}

body.open .admin-menu-title {
    opacity: 0;
}

.admin-menu-title {
    opacity: 1;
    transition: 0.3s;
}

.admin-wrapper {
    overflow: hidden;
    width: 72px;
    position: fixed;
    width: 300px;
    top: 0;
    left: 0;
    transition: all 300ms ease-in-out;
    
}

.admin-menu {
    min-width: 300px;
    max-height: 100vh;
    background: var(--clr-main-color);
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    left: 0;
    width: 25vw;
    overflow-y: scroll;

}

.brand-child a {
    text-decoration: none;
    color: var(--clr-secondary-color);
    font-family: var(--ff-league);
    font-size: clamp(1rem, 2vw, 1.5rem); 
    font-weight: 300;
    letter-spacing: 1px;
    /* opacity: 1;
    transition: 0.3s;
    animation: appear 0.3s both; */
}

.brand-child a:hover {
    color: white;
}

.client {
    display: none;
}

/* @keyframes appear {
    0% {
        opacity: 0;
        translate: 0 10px;
    }
    100% {
        opacity: 1;
        translate: 0;
    }
} */

/* body.open .admin-wrapper .brand-child a {
    opacity: 0;
    transition: 0.3s;

} */


/* .wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

body.open .admin-wrapper {
    width: 20vw;
}

.admin-wrapper {
    overflow: hidden;
    width: 72px;
    transition: width 0.5s;
    position: absolute;
    top: 0;
    left: 0;
    width: 300px;
}

.admin-menu {
    min-width: 15vw;
    min-height: 100vh;
    background: var(--clr-main-color);
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    left: 0;
    width: 25vw;
}

.admin-brand {
    display: flex;
    align-items: center;
    padding: 0 1.25rem 0 0;
    background: rgba(0, 0, 0, 0.1);
    height: 72px;
}

.admin-menu-title {
    font-family: var(--ff-league);
    color: var(--clr-secondary-color);
    font-size: 1.5rem;
    margin: 0;
    font-weight: 400;
}

.admin-wrapper .image-svg {
    display: grid;
    place-items: center;
    width: 72px;
    height: 72px;
}

.admin-wrapper .image-svg svg {
    fill: white;
    width: 25px;
    height: 25px;
}

.brand-child {
    display: flex;
    align-items: center;
    flex-shrink: 1 0 auto;
}

.brand-child.has-border {
    border-bottom: 1px solid rgba(255, 255, 255, 0.12);
}

.brand-child i {
    font-size: 1.2rem;
    color: var(--clr-secondary-color);
}

.brand-child:hover {
    color: white;
}

.brand-child a {
    text-decoration: none;
    color: var(--clr-secondary-color);
    font-family: var(--ff-league);
    font-size: clamp(1rem, 2vw, 1.5rem); 
    font-weight: 300;
    letter-spacing: 1px;
}

.brand-child a:hover {
    color: white;
}

.admin-links > .active {
    background: rgba(0, 0, 0, 0.1);
}

.admin-links > .brand-child:hover {
    background: rgba(0, 0, 0, 0.1);

} */

/* .admin-side-menu-links > .child {
    margin-block: .5em;
    margin-left: .5em;
    padding: .5em 1em;
    border-top-left-radius: 2em ;
    border-bottom-left-radius: 2em;
    display: flex;
    align-items: center;
    gap: 1em;
} */

/* ------------------------------------------ */
/*            Admin Main content              */
/* ------------------------------------------ */
table {
    border-collapse: collapse;
    width: 100%;
}

thead tr {
    border: 1px solid #f0f0f0;
}

thead th {
    padding: 1rem;
    font-size: clamp(.5rem, 1vw, 1rem);
    font-weight: 500;
    font-family: var(--ff-league);

}

tbody tr {
    border: 1px solid #f0f0f0;
}

tbody td {
    padding: 1rem;
    border: 1px solid #f0f0f0;
    font-size: clamp(.5rem, 1.0vw, 1.2rem);
}

tbody td img {
    width: 5vw;
    height: auto;
}

.admin-page-table .table-container {
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
    padding: 1.5em;
}

.table-button-add {
    margin-block: 2rem;
}

.table-container-add-new {
    text-decoration: none;
    color: var(--clr-secondary-color);
    background: var(--clr-main-color);
    font-size: 1rem;
    font-family: var(--ff-league);
    padding: 1rem 1.5rem;
}

.table-edit-delete {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .5em;
}

.table-container-add-new:hover,
.table-container-add-new:active {
    color: #f6f6f6;
}

.admin-page-table .card-header {
    padding: 1rem;
}

.admin-page-table .card-header h3 {
    font-family: var(--ff-league);
    color: var(--clr-background);
    font-size: clamp(1rem, 2vw, 2.5rem); 

}

.admin-main-content {
    /* background: var(--clr-background); */
    margin-inline: auto;
    min-width: 80vw;
    width: 100%;
    padding: .5em 1em;
}

.admin-main-content-add-page {
    /* background: var(--clr-background); */
    margin-inline: auto;
    min-width: 50vw;
    width: 50%;
    padding: .5em;
}

.admin-page-title h3 {
    color: var(--clr-main-color);
    font-size: clamp(1rem, 2vw, 3rem); 
    font-family: var(--ff-league);
}

.admin-page-header {
    display: flex;
    align-items: center;
    padding: 1.5em;
    gap: 1em;
    justify-content: space-between;
    width: 100%;
}

.admin-page-greet h4 {
    color: var(--clr-main-color);
    font-size: clamp(1rem, 2vw, 3rem); 
    font-family: var(--ff-league);
}

.admin-card-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2em;
}

.admin-card-container .admin-card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 1em;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
    padding: 3rem;
    gap: 1em;
}

.admin-card-container .admin-card .details,
.admin-card-container .admin-card .icon {
    color: var(--clr-main-color);
}

.admin-card-container .admin-card .icon {
    font-size: 2.5rem;
}

.admin-card-container .admin-card-link {
    text-decoration: none;
}

/* ------------------------------------------- */
/*            Background Cover Photo           */
/* ------------------------------------------- */
.carousel {
    z-index: -1;
}

.carousel-item img {
    display: block;
    width: 100%;
    aspect-ratio: 16/9;
    max-height: auto;
    /* max-height: 100vh; */
    object-fit: cover;
    object-position: center;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
}

/* ---------------------------------------------- */
/*                   Main Content                 */
/* ---------------------------------------------- */

.section-wrapper {
    min-height: 80vh;
    max-width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    padding-inline: 1em;
}


.card-wrapper {
    margin-bottom: 3em;
}

.featured-products {
    margin-block: 1em;
    padding: 0;
    font-family: var(--ff-fredoka);
    color: var(--clr-main-color);
    font-size: 2rem, 1rem + 5vw, 3rem;
}

.slide-container {
    max-width: 1200px;
    width: 100%;
}

.card-container {
    background-color:#f6f6f6 ;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    position: relative;
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.2);
    border: 3px solid var(--clr-main-color);
}

.card-overlay {
    background: var(--clr-main-color);
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    position: absolute;
}

.card-overlay::before,
.card-overlay::after {
    content: '';
    position: absolute;
    right: 0;
    bottom: 0;
    height: 60%;
    width: 100%;
    background-color: var(--clr-main-color);
}

.card-overlay::after {
    background-color: white;
    border-radius: 10px 10px 0px 0px;

}

.card-content {
    display: flex; 
    align-items: center;
    justify-content: space-between;
    padding: 1em .5em;
    width: 100%;
    z-index: 1;
}

.card-container .btn-primary {
    background-color: var(--clr-main-color);
    border: none;
    width: 50%;
    z-index: 1;
    margin-bottom: 1em;
    border-radius: 0;
}

.card-container .btn:hover, 
.card-container .btn:active {
    background-color: var(--clr-main-color);
}

.card-rate-orders .rate {
    color: var(--clr-main-color);
}

.card-rate-orders {
    display: flex;
    flex-direction: column;
    align-items:flex-end;
    gap: .5em;
}

.card-rate-orders span {
    color: var(--clr-main-color);
}

.card-rate-orders .drink-sizes {
    display: flex;
    align-items: baseline;
    gap: .3em;
}

.card-rate-orders .drink-sizes .small {
    font-size: .8rem;
}
.card-rate-orders .drink-sizes .medium {
    font-size: .9rem;
}
.card-rate-orders .drink-sizes .large {
    font-size: 1rem;
}

.card-texts .card-flavor,
.card-texts .card-category {
    margin: 0;
    padding: 0;
    font-family: var(--ff-league);
    font-weight: 400;
}

.card-texts {
    display: flex;
    flex-direction: column;
    gap: .5em;
}

.card-texts .card-flavor {
    font-size: 1.3rem;
    color: var(--clr-main-color);
    font-weight: 700;
}

.card-texts .card-category {
    font-size: 1rem;
    color: var(--clr-main-color);
    font-weight: 500;
}

.card-image {
    position: relative;
    width: 250px;
    height: 350px;
    border-radius: 20px;
    padding: 1em;
}

.card-image .card-img {
    height: 100%;
    min-width: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 20px;
}

.section-wrapper .swiper-button-next,
.section-wrapper .swiper-button-prev {
    color: #4d4d4d;
}

.section-wrapper .swiper-button-next::before,
.section-wrapper .swiper-button-next::after {
    font-size: 1.5rem;
}

.section-wrapper .swiper-button-prev::before,
.section-wrapper .swiper-button-prev::after {
    font-size: 1.5rem;
}

.section-wrapper .swiper-pagination-bullet {
    background-color: var(--clr-main-color);
}

/* ------------------------------------------------- */
/*                      Menu page                    */
/* ------------------------------------------------- */
.menu {
    max-width: 1000px;
    margin: 0 auto;
    width: 100%;
    margin-block: 2em;
}

.menu a {
    text-decoration: none;
    padding-block: var(--fs-16);
}

.menu a:hover,
.menu a:focus {
    border-bottom: 1px solid var(--clr-main-color);
    color: var(--clr-main-color);
} 

.menu h2,
.menu p {
    margin: .5rem;    
    color: var(--clr-main-color);
    font-family: var(--ff-league);
    letter-spacing: 1px;
}

.menu h2 {
    font-size: var(--fs-16);
    font-weight: 700;
}

.menu p {
    font-size: .85rem;
    font-weight: 500;
}
/* 
.main-container {
    margin-block: 2em;
} */

.main-container .title {
    font-family: var(--ff-fredoka);
    color: var(--clr-main-color);
    font-size: var(--fs-48);
    text-align: center;
    letter-spacing: .2rem;
    margin-bottom: .5em;
}


.category-links {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    color: var(--clr-main-color);
    column-gap: 1em;
    row-gap: 1.5em;
    margin-inline: 1em;
}

.category-links a {
    color: var(--clr-main-color);
    border: 1px solid var(--clr-main-color);
    padding: .5em;
    gap: .5em;
    border-radius: 10px;
}

.category-links .active {
    color: black;
}

.card-menu-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.5em;
    margin-block: 2em;
    margin-inline: 2em;
}

.card-menu-container a {
    text-decoration: none;
    padding: 0;
    border: 1px solid transparent;
}

.card-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.1);
}

.card-menu .img-container {
    width: 100%;
}

.card-menu img {
    width: 100%;
    aspect-ratio: 4/5;
    object-fit: cover;
    object-position: center;
}

/* style is same with .card-menu */
.card-menu-content {
    display: flex; 
    align-items: center;
    justify-content: space-between;
    padding: 1em .5em;
    width: 100%;
}

.error-message-container {
    display: flex;
    margin: 0 auto;
}

.error-message-container img {
    width: 100%;
}

.product-not-available {
    min-height: 100vh;
    height: 100%;
    min-width: 20vw;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.product-not-available .text-message {
    color: var(--clr-main-color);
    text-align: center;
    font-size: 5vw;
}


/* ----------------------------------- */
/*          Menu Products page         */
/* ----------------------------------- */
.menu .product-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 3em;
    margin-block: 2em;
    margin-inline: 2em;
}

.menu .product-container .product-image-container {
    width: 100%;
    aspect-ratio: 4/5;
    max-height: auto;
    object-fit: cover;
    object-position: center;
    /* min-height: 500px; */
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
}

/* .menu .product-container .product-image-container img {
    height: 100%;
} */

.menu .product-container .product-content-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 2em;
}

.menu .product-container .product-image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.menu .product-container .product-content-container .product-description h3 {
    font-size: clamp(3rem, 5vw + 1rem, 5rem);
    font-family: var(--ff-league);
    font-weight: 500;
    color: var(--clr-dark-grey);
    width: 100%;
    margin: 0;
}

.menu .product-container .product-content-container .product-description h5 {
    font-size: clamp(1rem, 1vw + 1rem, 2rem);
    font-family: var(--ff-league);
    font-weight: 700;
    color: var(--clr-dark-grey);
    margin-bottom: 1em;
}

.menu .product-container .product-content-container .product-description p {
    font-size: clamp(.5rem, 1vw + 1rem, 1rem);
    font-family: var(--ff-league);
    font-weight: 500;
    color: var(--clr-dark-grey);
    margin: 0;
    padding: 0;
    letter-spacing: 0;
}

.menu .product-container .product-content-container .product-info-order p {
    font-size: clamp(.5rem, 1vw + 1rem, 1rem);
    font-family: var(--ff-league);
    font-weight: 500;
    color: var(--clr-dark-grey);
    margin: 0;
    padding: 0;
}

.menu .product-container .product-content-container .product-info-order .buttons {
    display: flex;
    justify-content: space-between;
    gap: .5em;
    margin-top: 1em;
}

.menu .product-container .product-content-container .product-info-order .buttons .add-to-cart,
.menu .product-container .product-content-container .product-info-order .buttons .buy-now {
    width: 100%;
    outline: 0;
    border: 1px solid var(--clr-main-color);
    background-color: transparent;
    padding-block: .5em;
}

.menu .product-container .product-content-container .product-info-order .buttons .add-to-cart {
    color: var(--clr-main-color);
    font-weight: 400;
}

.menu .product-container .product-content-container .product-info-order .buttons .buy-now {
    background-color: var(--clr-main-color);
    color: var(--clr-dirty-white);
    border: 1px solid transparent;
    font-weight: 500;
}

.menu .product-container .product-content-container .product-info-order .product-price .price-container {
    display: flex;
    flex-direction: column;
    align-items: baseline;
    width: 50%;
}

.menu .product-container .product-content-container .product-info-order .product-price {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: .5em;
}


.menu .product-container .product-content-container .product-info-order .product-price .price {
    letter-spacing: 0;
    color:var(--clr-dark-black);
    font-size: 1rem;
    font-weight: 400;
}

.menu .product-container .product-content-container .product-info-order .product-price .price span {
    letter-spacing: 0;
    color: var(--clr-dark-black);
    font-size: 1rem;
}

.menu .product-container .product-content-container .product-info-order .product-price .small {
    font-family: var(--ff-league);
    font-size: 1rem;
    font-weight: 300;
}

.menu .product-container .product-content-container .product-info-order .product-price .input-group .form-control {
    text-align: center;
}

.menu .product-container .product-content-container .product-info-order .product-price .input-group {
    outline: none;
    width: 50%;
}

.menu .product-container .product-content-container .product-info-order .product-price .input-group .form-control {
    background-color: white;
}

/* .menu .product-container .product-content-container .product-info-order .product-price .input-group .input-group-prepend {
    background-color: none;
} */

.menu .product-container .product-content-container .product-info-order .product-price .input-group .input-group-prepend .input-group-text,
.menu .product-container .product-content-container .product-info-order .product-price .input-group .input-group-append .input-group-text {
    background-color: white;
    border-radius: 0;
}

/* ----------------------------------- */
/*              Carts page             */
/* ----------------------------------- */

.menu-cart {
    max-width: 1000px;
    margin-inline: auto;
    width: 100%;
    margin-block: 4em;
    min-height: 100vh;
    padding-inline: 1em;
}

.menu-cart .title {
    margin: 0;
    font-size: clamp(1rem, 1rem + 2vw, 3rem);
}

.menu-cart .table-cart {
    margin-top: 4em;
    margin-inline: auto;
    width: 100%;
}

.menu-cart .table-body-cart {
    max-width: 100%;
}

.menu-cart .table-head-cart .table-row-cart {
    border: 1px solid transparent;
}

.menu-cart .table-head-cart .table-row-cart .data-cart {
    font-weight: 300;
    font-size: clamp(.8rem, 1.5vw + .5rem, 1.2rem);
    font-family: var(--ff-league);
    padding-inline: 0;
}

.menu-cart p {
    margin: 0;
    font-size: clamp(.6rem, .5vw + .7rem, 1rem);
    font-family: var(--ff-league);
    font-weight: 400;
}

.menu-cart .buttons {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 10%;
    z-index: 1;
}

.menu-cart button {
    border: none;
    background: none;
    font-size: .5rem;
}

.menu-cart .table-head-cart .table-row-cart .total {
    float: right;
}

.menu-cart .table-head-cart .table-row-cart .quantity {
    text-align: center;
}

.menu-cart .table-head-cart .table-row-cart .price {
    text-align: center;
}

.menu-cart .table-body-cart .table-row-cart-items td {
    border-inline: 1px solid transparent;
    padding: 1em .2em;
}

.menu-cart .table-body-cart .table-row-cart-items img {
    width: 100px;
    aspect-ratio: 4/5;
    object-fit: cover;
    object-position: center;
}

.menu-cart .table-body-cart .table-row-cart-items .data-cart-items-prod {
    /* width: 30%; */
    font-size: 1rem;
}

/* .menu-cart .table-body-cart .table-row-cart-items .data-cart-items-img {
    width: 20%;
} */

.menu-cart .table-body-cart .table-row-cart-items .data-cart-items-price {
    text-align: center;
    font-size: 1rem;
}

.menu-cart .table-body-cart .table-row-cart-items .data-cart-items-qty {
    width: 10%;
    text-align: center;
}

.menu-cart .table-body-cart .table-row-cart-items .data-cart-items-total {
    text-align: right;
}

.menu-cart .table-body-cart .table-row-cart-items .data-cart-items-prod .data-cart-remove-item {
    display: block;
    margin-top: .5em;
    padding: 0;
    border:  1px solid transparent;
    outline: 0;
    background-color: white;
    font-size: clamp(.6rem, .5vw + .7rem, 1rem);
    font-family: var(--ff-league);
    font-weight: 300;
}

.menu-cart .table-body-cart .table-row-cart-items .data-cart-items-qty .input-group .form-control {
    background-color: white;
    text-align: center;
    position: relative;
    border: none;
    font-size: clamp(.6rem, .5vw + .7rem, 1rem);
    font-family: var(--ff-league);
    font-weight: 400;
}

.menu-cart .table-body-cart .table-row-cart-items .data-cart-items-prod .data-cart-remove-item:hover, 
.menu-cart .table-body-cart .table-row-cart-items .data-cart-items-prod .data-cart-remove-item:hover {
    color: var(--clr-main-color);
}

.menu-cart .data-cart-items-prod a {
    text-decoration: none;
    color: var(--clr-dark-black);
}

.menu-cart .data-cart-items-prod a:hover,
.menu-cart .data-cart-items-prod a:active,
.menu-cart .data-cart-items-prod a:focus {
    color: var(--clr-main-color);
}

/* ----------------------------------- */
/*       Carts lower part page         */
/* ----------------------------------- */
.menu-cart .lower-container {
    margin-top: 3em;
    display: flex;
    justify-content: space-between;
    align-items: top;
    gap: 2em;
    width: 100%;
    margin-inline: auto;
}

.menu-cart .instructions {
    width: 50%;
}

.menu-cart .total {
    width: 50%;
    text-align: end;
}

.menu-cart .instructions p {
    font-size: 1.2rem;
    font-family: var(--ff-league);
    color: var(--clr-dark-black);
    font-weight: 300;
}

.menu-cart .total h3 {
    font-size: 2rem;
    font-family: var(--ff-league);
    font-weight: 700;
    letter-spacing: 1px;
} 

.menu-cart .total span {
    font-size: 1.5rem;
    font-weight: 400;
}

.menu-cart .total p {
    font-size: 1.2rem;
    font-family: var(--ff-league);
    color: var(--clr-dark-black);
    font-weight: 300;
    margin-block: 2em;
}

.menu-cart .total a {
    text-decoration: none;
    color: var(--clr-main-color);
    padding: 1em 3em;
    opacity: .8;
    display: inline-block;
    font-size: .9rem;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 300;
    transition: .2s ease-in-out;
    border: 1px solid var(--clr-main-color);
}

.menu-cart .total a:hover,
.menu-cart .total a:active,
.menu-cart .total a:focus {
    opacity: 1;
    background-color: white;
    color: var(--clr-secondary-color);
    background-color: var(--clr-main-color);
    border: 1px solid var(--clr-main-color);
}

.menu-cart .instructions textarea {
    width: 100%;
    min-height: 20vh;
    color: var(--clr-dark-black);
    font-size: 1rem;
    padding: .5em;
    font-family: var(--ff-league);
    border: 1px solid transparent;
    resize: none;
    outline-width: 1px;
    outline-color: var(--clr-dark-black);
    outline-offset: 1px;
    font-weight: 300;
}
/* ----------------------------------- */
/*             Checkout Page           */
/* ----------------------------------- */

.menu-checkout .contact-shipping-info {
    border-radius: 5px;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.5);
    padding: 1em;
}

.menu-checkout .contact-info,
.menu-checkout .ship {
    display: flex;
    margin: 0;
    padding: 0;
    gap: 1em;
}

.menu-checkout .contact-info p,
.menu-checkout .ship p {
    margin: 0;
    padding: 0;
}

.menu-checkout .contact-shipping-info .width {
    width: 20%;
    color: var(--clr-dark-grey);
    font-family: var(--ff-league);
    font-size: 1rem;
    font-weight: 400;
}

.menu-checkout .contact-shipping-info .info {
    width: 80%;
    color: var(--clr-dark-black);
    font-family: var(--ff-league);
    font-size: 1rem;
    font-weight: 400;
}

/* ----------------------------------- */
/*             Checkout Page           */
/* ----------------------------------- */
.checkout-container {
    max-width: 1200px;
    width: 100%;
    margin: 2em auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.checkout-container .menu-checkout {
    padding: 1em;
    max-width: 100vw;
}

.checkout-container .info-checkout {
    width: 100%;
}

.checkout-container .info-checkout .brand-title {
    margin: 0;
    font-family: var(--ff-league);
    color: var(--clr-dark-black);
    font-weight: 400;
    font-size: 2rem;
}

.checkout-container .info-checkout .nav-checkout {
    margin-block: .5em;
    display: flex;
    align-items: center;
    gap: .5em
}

.checkout-container .info-checkout .nav-checkout a {
    text-decoration: none;
    color: var(--clr-dark-black);
    font-size: 1rem;
}

.checkout-container .info-checkout .nav-checkout a:hover,
.checkout-container .info-checkout .nav-checkout a:active {
    color: var(--clr-main-color);
}

.checkout-container .info-checkout .nav-checkout i {
    color: var(--clr-dark-black);
    font-size: 1rem;
}

.checkout-container .contact-header .contact {
    font-family: var(--ff-league);
    font-size: 1.5rem;
    font-weight: 400;
    margin: .5em 0;
}

.checkout-container .contact-header .contact-shipping {
    font-family: var(--ff-league);
    font-size: 1.5rem;
    font-weight: 400;
    margin-block: .5em;
}


.checkout-container .checkout .drink-info {
    width: 100px;
    height: 100px;
    background-color: black;
    border-radius: 1em;
    position: relative;
}

.checkout-container .checkout img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 1em;

}

.checkout-container .checkout .qty {
    background-color: var(--clr-main-color);
    border-radius: 50%;
    width: 25px;
    height: 25px;
    text-align: center;
    color: white;
    position: absolute;
    top: -10%;
    right: -10%;
}

.checkout-container .checkout {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    gap: 1em
}

.checkout-container .container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    gap: 2em
}

.checkout-container .drink-info {
    width: 50%;
}

.checkout-container .drink-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
}

.checkout-container .drinktitle-container h4 {
    font-size: 1rem;
    font-weight: 400;
    font-family: var(--ff-league);
    color: var(--clr-dark-black);
    margin: 0;
}

.checkout .drinktitle-container h5 {
    font-size: 1rem;
    font-weight: 400;
    font-family: var(--ff-league);
    color: var(--clr-dark-black);
    margin: 0;
}

.checkout-container .drinktitle-container h6 {
    font-size: 1rem;
    font-weight: 300;
    font-family: var(--ff-league);
    color: var(--clr-dark-grey);
    margin: 0;
}

.checkout-container .total-container h4 {
    font-size: 1rem;
    font-weight: 400;
    color: var(--clr-dark-black);
}

.checkout-container .total-container .divider {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin-block: .5em;
}

.checkout-container .total-container .divider p {
    font-size: 2rem;
    font-weight: 300;
}

.checkout-container .total-container .divider span {
    font-size: 2rem;
    font-weight: 500;
}

.signup-card-body .buttons {
    display: flex;
    justify-content: space-between;
    gap: .5em;
    margin-top: 1em;
}
.menu-checkout .buttons {
    display: flex;
    justify-content: space-between;
    gap: .5em;
    margin-top: 1em;
}

.menu-checkout .buttons .back-to-cart,
.menu-checkout .buttons .buy-now {
    width: 40%;
    outline: 0;
    border: 1px solid var(--clr-main-color);
    background-color: transparent;
    padding-block: .5em;
    transition: .2s ease-in-out;
}

.menu-checkout .buttons .back-to-cart {
    color: var(--clr-main-color);
    font-weight: 400;
    text-decoration: none;
    text-align: center;
}

.menu-checkout .buttons .buy-now {
    background-color: var(--clr-main-color);
    color: var(--clr-dirty-white);
    border: 1px solid transparent;
    text-decoration: none;
    text-align: center;
    font-weight: 500;
}

.menu-checkout .buttons .back-to-cart:hover {
    color: white;
    background-color: var(--clr-main-color);
 }
 
 .menu-checkout .buttons .buy-now:hover {
     background-color: #a05815;
 }

 .menu-checkout .accordion {
    margin-block: 1em;
 }

 .menu-checkout .accordion img {
    width: 20px;
 }

 .menu-checkout .accordion small {
    align-items: baseline;
    color: var(--clr-dark-grey);
    font-weight: 400;
    font-family: var(--ff-league);
    font-size: .5rem;
 }

 .menu-checkout .accordion label {
    font-size: 1rem;
    font-weight: 300;
    color: var(--clr-dark-black);
 }

 .menu-checkout .accordion-body {
    font-size: 1rem;
    font-weight: 400;
    color: var(--clr-dark-black);
    font-family: var(--ff-league);
    padding: 3em;
    width: 80%;
    margin: 0 auto;
 }

 .menu-checkout .accordion-body img {
    width: 8rem;
    display: block;
    margin: 0 auto;
 }

 .menu-checkout .accordion-body .maya {
    width: 20em ;
 }
 
 .menu-checkout .accordion-body p {
    margin: 0;
 }

.signup-card-body .buttons .back-to-cart,
.signup-card-body .buttons .buy-now {
    width: 40%;
    outline: 0;
    border: 1px solid var(--clr-main-color);
    background-color: transparent;
    padding-block: .5em;
    transition: .2s ease-in-out;
}

.signup-card-body .buttons .back-to-cart:hover {
   color: white;
   background-color: var(--clr-main-color);
}

.signup-card-body .buttons .buy-now:hover {
    background-color: #a05815;
}

.signup-card-body .buttons .back-to-cart {
    color: var(--clr-main-color);
    font-weight: 400;
    text-decoration: none;
    text-align: center;
}

.signup-card-body .buttons .buy-now {
    background-color: var(--clr-main-color);
    color: var(--clr-dirty-white);
    border: 1px solid transparent;
    text-decoration: none;
    text-align: center;
    font-weight: 500;
}

.signup-card-body .signup {
    position: relative;
}

.signup-card-body i {
    position: absolute;
    top: 55%;
    right: 1%;
    color: var(--clr-main-color);
}

/* ----------------------------------- */
/*              About page             */
/* ----------------------------------- */
.menu-about {
    max-width: 1200px;
    width: 100%;
    margin: 1em auto;
} 

.menu-about .about-container {
    display: grid;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.3);
    margin-inline: 1em;
}

.menu-about .content-container {
    padding: 2em;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.menu-about .about-card {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: "second first";
}

.menu-about .about-card:nth-child(odd) {
    grid-template-areas: "first second";
}

.menu-about .about-card-one {
    grid-area: first;
}

.menu-about .about-card-two {
    grid-area: second;
}

.menu-about .img-container {
    width: 100%;
}

.menu-about .content-container {
    width: 100%;
}

.menu-about img {
    width: 100%;
    aspect-ratio: 4/3;
    object-fit: cover;
    object-position: center;
}
/* ----------------------------------- */
/*              Contact page           */
/* ----------------------------------- */
.main-contact {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1em;
    margin: 2em;
    max-width: 100vw;
}

.contact-header {
    margin-block: 1em;
}

.contact-container {
    max-width: 70%;
    min-width: 20em;
    /* max-width: 800px;
    min-width: 30vw; */
    width: 100%;
    background-color: var(--clr-main-color);
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
}

.contact-input {
    width: 80%;
    margin: 0 auto;
    padding: 1rem 1rem;
    border: 2px solid rgba(0, 0, 0, 0);
    background-color: var(--clr-dirty-white);
    font-size: var(--fs-16);
    border-radius: .5em;
}

.contact-form-container > .message {
    resize: none;
}

.contact-form-container > .send {
    padding-block: .5rem;
}

.main-contact .contact-form-container {
    display: flex;
    flex-direction: column;
    padding: 2em;
    gap: 1em;
}

.main-contact .contact-header {
    font-size: var(--fs-40);
    color: var(--clr-secondary-color);
    font-weight: 200;
    font-family: var(--ff-fredoka);
    text-align: center;
}

.main-contact .contact-form:focus {
    outline: 0;
    color: var(--clr-main-color);
    padding: 1em;
}

.main-contact .contact-form::placeholder {
    color: var(--clr-main-color);
    font-family: var(--ff-league);
    font-size: var(--fs-16);
    font-weight: 400;
}

.contact-container .send {
    font-family: var(--ff-fredoka);
    color: var(--clr-main-color);
    background-color: var(--clr-dirty-white);
    padding-block: 1em;
    text-transform: uppercase;
    margin-top: 3em;
}

.mapouter {
    display: grid;
    place-items: center;
}
.mapouter iframe {
    height: 400px;
    width: 70%;
    min-width: 20em;
}

/* -------------------------------------------- */
/*              Industry Blogs page             */
/* -------------------------------------------- */
.blogs-about {
    max-width: 1200px;
    margin: 1em auto;
    width: 100%;
}

.blogs-about .about-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin-inline: 1em;
    gap: 1em;
}

.blog-card {
    width: 350px;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.2);
}

.blog-card .img-container {
    width: 100%;
    height: auto;
}

.blog-card img {
    aspect-ratio: 4/3;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.blog-card .content-container {
    padding: 2em;
    display: flex;
    flex-direction: column;
}

.blog-card .content-container span {
    color: var(--clr-dark-black);
    font-family: var(--ff-league);
    font-size: 1rem;
}

.blog-card .content-container .title {
    font-family: var(--ff-league);
    color: var(--clr-dark-black);
    font-size: 1.5rem;
    text-decoration: none;
}

.blog-card .content-container .title:hover {
    color: var(--clr-main-color);
    transition: all ease-in-out 300ms;
}

.blog-card .content-container .description {
    font-family: var(--ff-league);
    color: var(--clr-dark-black);
    font-size: 1rem;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 0;
}

/* .blogs-about .img-container {
    width: 100%;
}

.blogs-about .about-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1em;
}

.blogs-about .blog-card {
}

.blogs-about img {
    width: 100%;
    aspect-ratio: 4/3;
    object-fit: cover;
    object-position: center;
} */

/* -------------------------------------------- */
/*                  Sign up page                */
/* -------------------------------------------- */
.signup-wrapper {
    margin-inline: 1em;
}

.signup-container {
    margin: 2em auto;
    max-width: 500px;
    width: 100%;
    min-height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1em;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
    border-radius: 3%;
}

.signup-container .signup-header a {
    color: var(--clr-main-color);
    text-decoration: none;
}

.signup-container .signup-header a:hover,
.signup-container .signup-header a:active {
    color: #1e1e1e;
}

.signup-header {
    text-align: center;
}

.signup-form-container {
    margin-bottom: 4em;
}

.signup-container h1,p {
    margin: 0;
    padding: 0;
}

.signup-container h1 {
    font-size: var(--fs-32);
    margin-block: 1em;
    font-family: var(--ff-fredoka);
    color: var(--clr-main-color);
}

.signup-container p {
    font-size: var(--fs-16);
    font-family: var(--ff-league);
    color: var(--clr-main-color);
}

.signup-form {
    padding-inline: 1em;
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.signup {
    display: flex;
    flex-direction: column;
    position: relative;
}

.signup input,
.signup select {
    padding: .7em .5em;
    border-radius: .5em;
    color: var(--clr-main-color);
    outline: 0px;
}

.signup input:focus,
.signup select:focus {
    color: var(--clr-dark-black);
}

.signup-role .admin-role {
    display: flex;
    align-items: center;
    flex-direction: row; 
    gap: .4em;
}

.signup-role .price {
    width: 100%;
}

.signup-input {
    border: 1px solid var(--clr-main-color);
}

.signup-container .signup-input:focus {
    outline: 0;
    color: var(--clr-main-color);
}

.signup label {
    font-family: var(--ff-league);
    color: #C27933;
}

.signup-submit {
    margin: 3em 0em 1em;
    padding: .7em;
    border-radius: .5em;
    background-color: var(--clr-main-color);
    border: 1px solid rgba(0, 0, 0, 0);
    font-family: var(--ff-league);
    font-weight: 500;
    color: var(--clr-dirty-white);
}

.signup-role {
    display: flex;
    gap: 1em;
    align-items: center;
    max-width: 100%;
}

/* Size of image displayed when editing cover photo as a preview */
.signup img {
    width: 10vw;
    height: auto;
}
/* Size of image displayed when editing cover photo as a preview */

.admin-signup-card-header h3 {
    font-family: var(--ff-league);
    font-size: 2vw;
    color: #6B5237;
    margin-block: 1em;
}

.alert {
    margin: 2em;
}

/* Checkout page form */
.signup-card-body .checkout-form {
    display: flex;
    flex-direction: column;
    gap: 1em;
    padding: 0;
}

.signup-card-body 

/* Show or hide password style */

.signup-container .password-container {
    width: 100%;
}

.password-container input {
    width: 100%;
}

.fa-eye {
    position: absolute;
    top: 55%;
    right: 2%;
    color: var(--clr-dark-grey);
}

/* End Show or hide password style */

/* ----------------------------------- */
/*            MEDIA QUERIES            */
/* ----------------------------------- */
@media (max-width: 1000px) {

    .carousel-item img {
        aspect-ratio: 4/3;
    }

    .card-menu-container {
        grid-template-columns: repeat(2, 1fr);
    }

    .card-menu {
        min-width: 300px;
        max-width: 400px;
        margin: 0 auto;
    }

    .main-contact {
        flex-direction: column;
    }

    .contact-input{
        width: 100%;
      }

    .admin-card-container {
        grid-template-columns: repeat(3, 1fr);
    }

    .client {
        display: flex;
    }

    .header-admin {
        display: none;
    }

    .admin-main-content {
        margin-top: 0;
    }
}

@media (max-width: 768px) {
    .menu .product-container {
        grid-template-columns: repeat(1, 1fr);
    }

    .checkout-container {
        grid-template-columns: repeat(1, 1fr);
        grid-template-areas: "two"
                             "one";
    }
    
    .area-one {
        grid-area: one;
    }

    .area-two {
        grid-area: two;
    }

    .menu-cart .table-cart {
        width: 100%;
    }

    .menu-cart .table-body-cart .table-row-cart-items img {
        width: 50px;
    }

    .signup-role {
        flex-direction: column;
    }

    .menu-about .about-card {
        grid-template-columns: repeat(1, 1fr);
        grid-template-areas: "first" "second";
    }

    .menu-about .about-card:nth-child(odd) {
        grid-template-areas: "first" "second";
    }

    .admin-card-container {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 480px) {
    .card-menu-container {
        grid-template-columns: repeat(1, 1fr);
    }
    .contact-input{
      width: 100%;
    }

    .admin-card-container {
        grid-template-columns: repeat(1, 1fr);
    }

}