@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&family=League+Spartan:wght@100;200;400;500&display=swap');

:root {
    --ff-fredoka: 'Fredoka One', cursive;
    --ff-league: 'League Spartan', sans-serif;

    --fs-72: 4.5rem;
    --fs-48: 3rem;
    --fs-40: 2.5rem;
    --fs-32: 2rem;
    --fs-24: 1.5rem;
    --fs-16: 1rem;

    --clr-main-color: #C27933;
    --clr-secondary-color: white;
    --clr-dirty-white: #f6f6f6;
    --clr-background: #6B5237;
}

* {
    box-sizing: border-box;
    font: inherit;
    color: inherit;
}

body {
    margin: 0;
    padding: 0;
}

/* Main content */
/* Homepage */
#container {
    display: grid;
    grid-template-rows: (auto, 1fr, auto);
    height: 100vh;

    /* take note of centering this item */
    /* max-width: 1200px;
    margin: 0 auto; */
}

.menu {
    max-width: 1200px;
    margin: 0 auto;
}


img {
    width: 100%;
    background-size: cover;
    object-fit: cover;    
}

.card-pictures {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    place-items: center;
    justify-content: space-between;
    width: 100%;
    padding-block: 3em;
    gap: 1em;
}

.card-pictures-container img {
    width: 250px;
    height: 350px;
    border-radius: 15px;
}

/* Menu */

.menu {
    gap: 1em;
}

.main-container {
    margin-block: 2em;
}

.menu-about {
    width: 60%;
    margin: 0 auto;
}

.menu .title {
    font-family: var(--ff-fredoka);
    color: var(--clr-main-color);
    font-size: var(--fs-48);
    text-align: center;
    letter-spacing: .5rem;
}

.menu a {
    text-decoration: none;
    padding-block: var(--fs-16);
}

.menu a:hover,
.menu a:focus {
    border-bottom: 1px solid var(--clr-main-color);
    color: var(--clr-main-color);
}

.category-links {
    display: flex;
    justify-content: space-evenly;
    color: var(--clr-main-color);
}

.category-links a {
    color: var(--clr-main-color);
}

.card-menu-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 1em;
}

.card-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-block: 2em;
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.1);

}

.menu h2,
.menu p {
    margin: .5rem;
}

.menu h2 {
    color: var(--clr-main-color);
    font-family: var(--ff-league);
    font-size: var(--fs-16);
    font-weight: 500;
    letter-spacing: 2px;
}

.menu p {
    color: var(--clr-main-color);
    font-family: var(--ff-league);
    font-size: .75rem;
    font-weight: 500;
    letter-spacing: 1px;
}

.menu img {
    width: 250px;
}

/* About page */

.about-container {
    margin-block: 1em;
    padding: 1em;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    justify-content: flex;
}

.about-card {
    width: 100%;
    height: 500px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: end;
    padding: 1em 10em;
}

.menu-about .about-container .about-card a:hover, 
.menu-about .about-container .about-card a:active {
    color: var(--clr-background);
}

.about-card a {
    text-decoration: none;
    color: var(--clr-secondary-color);
    font-family: var(--ff-league);
    font-size: var(--fs-16);
    padding: .5em 1em;
    border-radius: 20px;
    border: 1px solid var(--clr-secondary-color);
    margin-bottom: 10%;
}
.about-card:nth-child(1),
.about-card:nth-child(4),
.about-card:nth-child(5),
.about-card:nth-child(8) {
    background-color: var(--clr-main-color);
}

/* Contact Page */

.main-contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1em;
    margin: 2em;
}

.contact-header {
    margin-block: 1em;
}

.contact-container {
    max-width: 800px;
    width: 100%;
    background-color: var(--clr-main-color);
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
}

.contact-input {
    width: 80%;
    margin: 0 auto;
    padding: 1rem 1rem;
    border: 2px solid rgba(0, 0, 0, 0);
    background-color: var(--clr-dirty-white);
    font-size: var(--fs-16);
    border-radius: .5em;
}

.contact-form-container > .message {
    resize: none;
}

.contact-form-container > .send {
    padding-block: .5rem;
}

.main-contact .contact-form-container {
    display: flex;
    flex-direction: column;
    padding: 3em 5em;
    gap: 1em;
}

.main-contact .contact-header {
    font-size: var(--fs-40);
    color: var(--clr-secondary-color);
    font-weight: 200;
    font-family: var(--ff-fredoka);
    text-align: center;
}

/* .main-contact .contact-form {
    border: 1px solid var(--clr-main-color);
    resize: none;
} */

.main-contact .contact-form:focus {
    outline: 0;
    color: var(--clr-main-color);
    padding: 1em;
}

.main-contact .contact-form::placeholder {
    color: var(--clr-main-color);
    font-family: var(--ff-league);
    font-size: var(--fs-16);
    font-weight: 400;
}

.contact-container .send {
    font-family: var(--ff-fredoka);
    color: var(--clr-main-color);
    background-color: var(--clr-dirty-white);
    padding-block: 1em;
    text-transform: uppercase;
    margin-top: 3em;
}

/* .main-contact .contact-form-submit {
    background: transparent;
    border: 1px solid var(--clr-main-color);
    border-top: 0;
    outline: 0;
} */


/* Sign up page */

.signup-container {
    margin: 0 auto;
    max-width: 500px;
    width: 100%;
    /* height: 80vh; remove after filling up with contents */
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1em;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
    margin-block: 2em;
    border-radius: 3%;
}

.signup-header {
    text-align: center;
    margin-block: 4em;
}

.signup-form-container {
    margin-bottom: 4em;
}

.signup-container h1,p {
    margin: 0;
    padding: 0;
}

.signup-container h1 {
    font-size: var(--fs-32);
    margin-block: 1em;
    font-family: var(--ff-fredoka);
    color: var(--clr-main-color);
}

.signup-container p {
    font-size: var(--fs-16);
    font-family: var(--ff-league);
    color: var(--clr-main-color);
}

.signup-form {
    padding-inline: 1em;
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.signup {
    display: flex;
    flex-direction: column;
    gap: .5em;
}

.signup input {
    padding: .7rem;
    border-radius: .5em;
}

.signup-container .signup-input {
    border: 1px solid var(--clr-main-color);
}

.signup-container .signup-input:focus {
    outline: 0;
    color: var(--clr-main-color);
    padding: 1em;
}

.signup label {
    font-family: var(--ff-league);
    color: #C27933;
}

.signup-submit {
    margin: 3em 0em 1em;
    padding: .7em;
    border-radius: .5em;
    background-color: var(--clr-main-color);
    border: 1px solid rgba(0, 0, 0, 0);
    font-family: var(--ff-league);
    font-weight: 500;
    color: var(--clr-dirty-white);
}

.alert {
    margin: 2em;
}

/* media for tablet 1000px */
@media (max-width: 1000px) {
    .card-pictures {
        grid-template-columns: repeat(2, 1fr);
        gap: 10em;
    }
    .card-menu-container {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
    }
}
